.footer-container {
  width: 100%;
  background-color: #e5e5e5;
  padding-top: 30px;
  padding-bottom: 30px;

  p {
    margin: 0 auto;
    color: rgb(116, 105, 105) !important;
  }

  a {
    color: black;
  }

  .kontak {
    width: 100%;
    margin: 0 auto;

    .footer {
      background-color: #e5e5e5;
      width: 100%;

      .alamat {
        text-align: left;
      }
      .copyright {
        text-align: right;
      }
      hr {
        margin-top: 40px;
        padding-bottom: 20px;
      }

      .cp {
        p {
          display: inline !important;
          text-align: center;
          padding-bottom: 10px;
        }

        a {
          display: block;
          text-align: center;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  #footer {
    .kontak {
      .footer {
        .cp {
          a {
            display: block;
            text-align: center;
          }
        }
      }
    }
  }
}

@media (max-width: 1200px) {
  #footer {
    .kontak {
      width: 100%;
      .footer {
        .cp {
          a {
            text-align: left;
            padding-top: 10px;
          }
        }
      }
    }
  }
}

@media (min-width: 1200px) {
  #footer {
    .kontak {
      .footer {
        .cp {
          padding-top: 40px;
        }
      }
    }
  }
}
@media (max-width: 500px) {
  #footer {
    .kontak {
      p {
        font-size: 11px;
      }
    }
  }
}

@media (max-width: 990px) {
  .kontak p {
    font-size: 12px;
  }
  p {
    text-align: center;
  }
  .copyright p {
    text-align: center;
  }
}
