@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");

* {
  font-family: "Montserrat", sans-serif;
}

.tentang-container {
  padding-top: 100px;
  margin-right: auto;
  margin-left: auto;
  width: 70%;
}
