.events-container {
  width: 100% !important;

  .acara {
    width: 70%;
    margin: 0 auto;
    background-color: #fafafa !important;
    padding-top: 40px;

    .themed-container {
      width: 100%;
      padding: 0px !important;

      .col {
        padding: 0px !important;
      }

      .cp {
        background-color: #fafafa !important;
        width: 100%;
        margin: 0px !important;
      }
    }

    .title {
      background-color: #fafafa !important;
    }
  }
}

@media (max-width: 500px) {
  #events {
    .acara {
      width: 95%;
    }
  }
}
