.title {
    margin: 64px 0 22px 0;

    h1 {
        color: #2C6471;
        font-size: 60px;
        font-weight: 700;
        line-height: 73px;
        margin: 0;
    }

    h3 {
        color: #2C6471;
        font-size: 45px;
        font-weight: 600;
        line-height: 55px;
        margin: 0;
    }
}

.content {
    margin-bottom: 57px;
    img {
        width: 512px;
    }

    .text {
        p {
            font-size: 25px;
            font-weight: 500;
            line-height: 30.48px;
        }
    }
}

.register {
    p {
        img {
            margin-right: 28px;
        }

        font-size: 40px;
        font-weight: 600;
        line-height: 48.76px;
    }
    .ant-btn {
        padding: 10px 25px;
        height: 80px;
        background-color: #2C6471; 
        font-size: 40px;
        font-weight: 600;
        border: none;
    }
    .ant-btn:hover {
        background-color: #204953;  
    }
    .ant-btn:focus {
        background-color: #204953;
    }
}