.sponsor-container {
  width: 100%;
  background-color: #e5e5e5;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  overflow-x: auto;

  .sponsor {
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: white;
    margin: 10px;
    padding: 10px;
    min-width: 130px;
  }
}
